<form action="" method="post" class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="input-description">头像</label>
    <div class="controls">
      <img src="<%= @user.avatar %>" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="input-description">用户名</label>
    <div class="controls">
      <input type="text" name="username" value="<%= @user.username %>">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="input-description">来自</label>
    <div class="controls">
      <%= @user.location %>
    </div>
  </div>
  <div class="controls">
    <button type="submit" class="btn btn-primary">发布上传</button>
  </div>
</form>