development:
  sessions:
    default:
      database: example_develoment
      hosts:
        - localhost:27017
      options:
        consistency: :strong
  options:
    identity_map_enabled: true
    raise_not_found_error: false

test:
  sessions:
    default:
      database: example_test
      hosts:
        - localhost:27017
      options:
        consistency: :strong

production:
  sessions:
    default:
      database: example_production
      hosts:
        - localhost:27017
      options:
        consistency: :strong