<ul class="thumbnails">
  <% @photos.each do |photo| %>
  <li>
    <a href="/photo/<%= photo.id %>"><img src="<%= photo.thumbnail_url %>" alt=""></a>
    <div>
      <% photo.tag_ids.each do |t| %>
        <span><%= Tag.find_by(:id => t).name %></span>
      <% end %>
    </div>
  </li>
  <% end %>
</ul>