<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>看看 kankan.io</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/stylesheet/bootstrap.min.css" />
  <script type="text/javascript" src="/assets/javascript/jquery.js"></script>
  <script type="text/javascript" src="/assets/javascript/bootstrap.min.js"></script>
  <style type="text/css">
    body {padding-top:60px;}
  </style>
  <link rel="stylesheet" href="/assets/stylesheet/bootstrap-responsive.css" />
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">看看</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10">
      <%= yield %>
    </div>
    <div class="span2">
      ddd
    </div>
  </div>
</div>
</body>
</html>